#main_wrapper {
  background-color: #333;
  width: 90dvw;
  height: 71dvh;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
}

h2{
  font-family: "Pretendard-Regular";
  letter-spacing: 0.4rem;
  font-size: 40px;
  text-align: center;
  padding-top: 15px;
  color: #fff;
}

#button_wrapper {
  margin: 10px auto 0;
  width: 350px;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
/* 
#join_form input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0 !important;
} */

#join_form input[type="date"] {
  position: relative !important;
  padding-right: 25px !important;
  box-sizing: border-box;
  background-color: gold;
}

/* #join_form input[type="date"]::after {
  background-color: green;
  width: fit-content;
  content: "\1F4C5" !important;
  position: absolute !important;
  top: 50% !important;
  right: 5px !important;
  transform: translateY(-50%) !important;
  pointer-events: none !important;
} */